.navigasi a{
	background-color: lightseagreen;
	display: inline-block;
	width: 100px;
	height: 100px;
}

.navigasi a:first-child{
	background-color: green;
}

.navigasi a:nth-child(2){
	background-color: yellow;
}

.navigasi a:nth-child(3){
	background-color: gray;
}

.navigasi a:nth-child(4){
	background-color: purple;
}

.main{
	background-color: white;
	font-variant: small-caps;
	font-size: 1.5em;
	letter-spacing: 3px;
	word-spacing: 5px;
	text-indent: 30px;
	text-transform: capitalize;
}

.main span{

	background-color: pink;
}
.main p:last-of-type{

	background-color: white;
	font-variant: small-caps;
	letter-spacing: 3px;
	text-indent: 26px;
	font-size: 20px;
	color: green;
}

img {

	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ddd;
}

.head {
	font-variant: small-caps;
	letter-spacing: 4px;
	font-size: 20px;
	color: green;
	text-align: center;
}
 .head h1 span{
	text-shadow: 10px;
	font-variant: small-caps;
	font-size: 2em;
	color: lightseagreen;
	font-family: arial;
	text-shadow: 5px 10px 3px green;
}
